name: Publish Package
on:
    workflow_dispatch:
        inputs:
            version_type:
                description: Version increment type
                type: choice
                options: [patch, minor, major]
                default: patch

permissions:
    id-token: write

jobs:
    publish:
        uses: DCC-BS/ci-workflows/.github/workflows/npm-publish.yml@513a07e80bae4b435a414d7ba54f35c5551eb975
        secrets: inherit
        with:
            version_type: ${{ inputs.version_type }}
            registry_url: https://npm.pkg.github.com
            install_command: bun install
            build_command: bun run generate
            prepack_command: bun run prepack
