name: Publish Package
on:
    workflow_dispatch:
        inputs:
            version_type:
                description: Version increment type
                type: choice
                options: [patch, minor, major]
                default: patch

jobs:
    publish:
        uses: DCC-BS/ci-workflows/.github/workflows/npm-publish.yml@c4ad051c205ad9eb83e4993d379e26ca8ca19fae
        with:
            version_type: ${{ inputs.version_type }}
            install_command: bun install
            build_command: bun run generate
            prepack_command: bun run prepack
