name: Publish Package
on:
    workflow_dispatch:
        inputs:
            version_type:
                description: Version increment type
                type: choice
                options: [patch, minor, major]
                default: patch

jobs:
    publish:
        uses: DCC-BS/ci-workflows/.github/workflows/npm-publish.yml@f66aa104d53b85e0ec43aa3f191b7d35af01ad74
        secrets: inherit
        with:
            version_type: ${{ inputs.version_type }}
            install_command: bun install
            build_command: bun run generate
            prepack_command: bun run prepack
