name: Publish Package
on:
    workflow_dispatch:
        inputs:
            version_type:
                description: Version increment type
                type: choice
                options: [patch, minor, major]
                default: patch

permissions:
    id-token: write # Required for OIDC
    contents: read

jobs:
    publish:
        uses: DCC-BS/ci-workflows/.github/workflows/npm-publish.yml@1028318219e5f9bc456bd6a5c92b7e1179ce6ef9
        with:
            version_type: ${{ inputs.version_type }}
            install_command: bun install
            build_command: bun run generate
            prepack_command: bun run prepack
