name: Publish Package
on:
    workflow_dispatch:
        inputs:
            version_type:
                description: Version increment type
                type: choice
                options: [patch, minor, major]
                default: patch

permissions:
    id-token: write # Required for OIDC
    contents: write

jobs:
    publish:
        uses: DCC-BS/ci-workflows/.github/workflows/npm-publish.yml@0ba9957724fb5ccb1c84e5cc8b40036e3fb68241
        with:
            version_type: ${{ inputs.version_type }}
            install_command: bun install
            build_command: bun run generate
            prepack_command: bun run prepack
            publish_command: npm publish --dry-run
